<div class="container-fluid tablas">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
        {{success}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    {{#if messageError}}
    <div class="alert alert-danger alert-dismissible fade show custom-alert" role="alert">
        {{messageError}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}


    <div class="otrosContent">



        <div id="contenedorForm2">

        </div>
        <div class="content-table">
            <div class="col-lg-12">
                <div>
                    <table id="example" class="table-bordered table-striped" width="100%">
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Costo</th>

                                <th class="hacciones">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each costoscrap}}
                            <tr class="numero">
                                <td>{{id}}</td>
                                <td>{{nombre}}</td>
                                <td>{{costo}}</td>

                                <td class="btnacciones btnedit"><span class="btn btn-dark editar"
                                        onclick="transformarEnEditable2(this);"><i class="icon-pencil"></i></span></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>





            <script>

                var editando2 = false;



                function transformarEnEditable2(nodo) {

                    //El nodo recibido es SPAN

                    if (editando2 == false) {

                        var nodoTd2 = nodo.parentNode; //Nodo TD

                        var nodoTr2 = nodoTd2.parentNode; //Nodo TR

                        var nodoContenedorForm2 = document.getElementById('contenedorForm2'); //Nodo DIV

                        var nodosEnTr2 = nodoTr2.getElementsByTagName('td');

                        var idmodelo = nodosEnTr2[0].textContent;
                        var nombremodelo = nodosEnTr2[1].textContent;
                        var costo = nodosEnTr2[2].textContent;


                        var nuevoCodigoHtml2 = '<td><input type="text" name="id" id="idmodel" value="' + idmodelo + '" size="3" disabled></td>' +
                            '<td><input type="text" name="nombre" id="nombremodel" value="' + nombremodelo + '" disabled></td>'+ '<td><input type="text" name="costo" id="costo" value="' + costo + '" size="3"></td>';

                        nodoTr2.innerHTML = nuevoCodigoHtml2;

                        nodoContenedorForm2.innerHTML = '<div class="alert alert-info alert-dismissible fade show contentAlert custom-alert"><p>Una vez modificada la información. Pulse Aceptar para guardar los cambios o cancelar para anularlos</p>' +
                            '<form name = "formulario" action="" method="get" onsubmit="capturarEnvio2()" onreset="anular2()">' +
                            '<input class="boton" type="reset" value="Cancelar"><input class="boton" type = "submit" value="Aceptar"></div>';
                        editando = "true";
                    }

                    else {
                        alert('Solo se puede editar una línea. Recargue la página para poder editar otra');
                    }
                }

                function capturarEnvio2() {
                    console.log("CapturarEnvio");
                    var nodoContenedorForm2 = document.getElementById('contenedorForm2'); //Nodo DIV

                    nodoContenedorForm2.innerHTML = 'Pulse Aceptar para guardar los cambios o cancelar para anularlos' +

                        '<form name = "formulario" action="/costoscrap/updatecosto/' + document.querySelector('#idmodel').value + '" method="POST">' +

                        '<input type="hidden" name="nombre" value="' + document.querySelector('#nombremodel').value + '">' +

                         '<input type="hidden" name="costo" value="' + document.querySelector('#costo').value + '">' +

                        '<input class="boton" type = "submit" value="Aceptar"> <input class="boton" type="reset" value="Cancelar">';


                    document.formulario.submit();

                    nodoContenedorForm2.style.display = 'none';

                }

                function anular2() {

                    window.location.reload();

                }


            </script>



        </div>