{{#if messageError}}
 <div class="alert alert-danger alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{messageError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}

{{#if success}}
 <div class="alert alert-success alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}

<div class="container-fluid" id="produccioncorte">
   <form action="/produccion/save" method="POST" name="comments" id="form">
        <div class="row" id="row">
            <div class="col-md-9 left">

                <div class="principal">
                    <div class="box1 produccion">
                        <div class="formproduccion">
                            
                            <select name="equipo" id="">
                                {{#each tipoequipo}}
                                <option value="{{id_tipoequipo}}">{{tipo}}</option>
                                {{/each}}
                            </select>
                            <select name="numeroequipo" id="limite">
                            {{#each limite}}
                                    <option value="{{numero}}">{{numero}}</option>
                            {{/each}}
                            </select>
                            <input type="text" name="piezas" id="" placeholder="Piezas" required>
                        </div>
                        <div class="resultproduccion">
                            
                        </div>
                    </div>
                    <div class="box2">
                        <div class="columnaleft calidad">
                            <div class="formcalidad formcalidadlinea">
                                <h4>Calidad</h4>
                                <div class="form-bodycalidad">
                                    <ul>
                                        <li>Cinta de vinil: <input type="text" name="cintavinil" id="" required></li>
                                        <li>Cinta de garra: <input type="text" name="cintagarra" id="" required></li>
                                        <li>Cable: <input type="text" name="cable" id="" required></li>
                                        <li>Componentes: <input type="text" name="componentes" id="" required></li>
                                        <li>Otros: <input type="text" name="otroscalidad" id="" required></li>
                                    </ul>
                                </div>
                                <div class="formheadercalidad">

                                </div>
                            </div>
                            <div class="formotros">
                                <h4>Otros</h4>
                                <div class="form-bodyotros">
                                    <ul>
                                        <li>Errores: <input type="text" name="errores" id="" required></li>
                                        <li>Defectos: <input type="text" name="defectos" id="" required></li>
                                    </ul>
                                </div>
                                <div class="formheaderotros">

                                </div>
                            </div>
                        </div>
                        <div class="columnaright tiempo">
                            <div class="formtiempo formtiempolinea">
                                <h4>Tiempo muerto</h4>
                                <div class="form-bodytiempo">
                                    <ul>
                                        <li>Calidad: <input type="text" name="calidad" id="" required></li>
                                        <li>Mantenimiento: <input type="text" name="mantenimiento" id="" required></li>
                                        <li>Materiales: <input type="text" name="materiales" id="" required></li>
                                        <li>Procesos: <input type="text" name="procesos" id="" required></li>
                                        <li>Otros: <input type="text" name="otrostiempos" id="" required></li>
                                    </ul>
                                </div>
                                <div class="formheadertiempo">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 right">
                <input type="text" id="mess" placeholder="Comentario">
                <div id="boxmessages">
                    
                </div>
                <input type="submit" value="Guardar" >
            </div>
        </div>
    </form> 
</div>


<script>

        select("#mess").addEventListener("keypress", function(e){
           
            var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode == '13') {
                    var message = document.createElement("textarea");
                    message.setAttribute("name", "comments");
                    message.setAttribute("class", "comment");
                    message.style.resize = "none";
                    message.value = select("#mess").value;
                    select("#boxmessages").appendChild(message);
                    select("#mess").value = "";
                    select("#mess").focus();

                    e.preventDefault();
                    return false;
                }
        });
        


        function select(selector){
            return document.querySelector(selector);
        }

    </script>